@import './shared.css';


/* Add some breathing room to the bottom of the page */
main {
    padding-bottom: 100px;
}

/* Message that displays in any section w/out characters */
.empty-message {
    grid-column: 1/3;
    text-align: center;
    font-size: 1.25em;
}