@import './shared.css';

/* Message that displays in any section w/out characters */
.empty-message {
    grid-column: 1/3;
    text-align: center;
    font-size: 1.25em;
}


/* ############++++++++++--------------++++++++++############ */
/* ##                  DESKTOP FORMATTING                  ## */
/* ############++++++++++--------------++++++++++############ */
@media screen and (min-width: 600px) {

    .empty-message {
        grid-column: 1/6;
        text-align: center;
        font-size: 1.25em;
    }

}