@import './shared.css';

/* ---------------------------------------------------------- */
/* -- Invalid URL Page                                     -- */
/* ---------------------------------------------------------- */
#char-not-found {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    gap: 30px;
    align-items: center;
    text-align: center;
}
#char-not-found p {
    font-size: 1.5em;
    font-weight: bold;
}
#char-not-found a {
    font-size: 1.25em;
    color: var(--primary2-color);
    text-decoration: underline;
}

/* ---------------------------------------------------------- */
/* -- Name & Image                                         -- */
/* ---------------------------------------------------------- */
#character-name {
    font-size: 3em;
    font-weight: normal;
    margin: 20px 0;
}
#character-img {
    border-radius: 20px;
    max-height: 60vh;
    display: block;
    margin: 0 auto;
}

/* ---------------------------------------------------------- */
/* -- Stats Section                                        -- */
/* ---------------------------------------------------------- */
#stats-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5em;
    column-gap: 1em;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
}
.stat-name {
    display: inline;
    font-weight: bold;
}
.stat-value {
    display: inline;
}

/* ---------------------------------------------------------- */
/* -- Format dropdown                                      -- */
/* ---------------------------------------------------------- */
#dropdown-div {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

/* ---------------------------------------------------------- */
/* -- Description                                          -- */
/* ---------------------------------------------------------- */
#character-description {
    margin: 20px 0 40px;
    font-size: 1.2em;
}
