@import './shared.css';
@import './character-card.css';

/* ---------------------------------------------------------- */
/* -- Title box                                            -- */
/* ---------------------------------------------------------- */
#title-box {
    position: relative;
}
#title-img{
    width: 100%;
    height: calc(min(50vh, 640px));
    object-fit: cover;
    object-position: center;
}
#title {
    font-weight: normal;
    font-size: 2em;
    color: var(--headline-color-on-white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-self: center;
    text-shadow: 1px 1px 15px var(--offwhite);
    background-color: #19100044;
}

/* ---------------------------------------------------------- */
/* -- Misc.                                                -- */
/* ---------------------------------------------------------- */
section>p {
    text-align: justify;
}
#intro-links {
    margin: 15px 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.page-link {
    font-weight: bold;
    font-size: 1.15em;
    text-align: center;
    color: var(--secondary1-color);
}
.page-link p {
    display: inline;
    text-decoration: underline;
}
#deathless-symbol-container {
    width: calc(min(50%, 256px));
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}


/* ############++++++++++--------------++++++++++############ */
/* ##                  DESKTOP FORMATTING                  ## */
/* ############++++++++++--------------++++++++++############ */
@media screen and (min-width: 600px) {

    #intro-links {
        flex-direction: row;
        justify-content: center;
        gap: 4em;
    }

}