/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');

/* Color & Typography variables */
:root {
    /* Color Pallette */
    --primary1-color: #640C00;
    --primary2-color: #614433;
    --secondary1-color: #7F5435;
    --secondary2-color: #9B7654;
    --secondary3-color: #B89974;
    --accent-color: #e6cfa7;
    --offwhite: #fff2d3;
  
    /* Fonts */
    --heading-font: Rye, "Times New Roman", serif;
    --paragraph-font: Montserrat, Helvetica, sans-serif;
    --lucy-font: "Indie Flower", Helvetica, sans-serif;
    --nemah-font: Kalam, Helvetica, sans-serif;
  
    /* Pallette utilization */
    --headline-color-on-white: var(--primary1-color); /* headlines on a white background */
    --headline-color-on-color: var(--offwhite); /* headlines on a colored background */
    --paragraph-color-on-white: black; /* paragraph text on a white background */
    --paragraph-color-on-color: var(--offwhite); /* paragraph text on a colored background */
    --paragraph-background-color: var(--offwhite);
    --nav-link-color: var(--secondary3-color);
    --nav-background-color: var(--primary2-color);
    --nav-hover-link-color: var(--secondary3-color);
    --nav-hover-background-color: var(--primary1-color);
}


/* ---------------------------------------------------------- */
/* -- Basic Reset / base stylings                          -- */
/* ---------------------------------------------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--paragraph-font);
    position: relative;
    background-color: var(--offwhite);
}
main {
    color: var(--paragraph-color-on-white);
    padding: 0 30px;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: bold;
    text-align: center;
    color: var(--headline-color-on-white);
}


/* ---------------------------------------------------------- */
/* -- Header content                                       -- */
/* ---------------------------------------------------------- */
/* Header itself */
header {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-align: right;
}
/* Mobile-only menu button */
#menu-btn {
    background-color: inherit;
    border: none;
    padding: 10px;
    width: 50px;
    aspect-ratio: 1/1;
}
#menu-btn div {
    width: 100%;
    height: 20%;
    background-color: var(--nav-link-color);
    margin: 10% 0;
    transition: transform 0.3s, opacity 0.3s;
}
#menu-btn:hover {
    cursor: pointer; 
    background-color: var(--nav-hover-background-color);
}
#menu-btn:hover div {
    background-color: var(--nav-hover-link-color);
}
.opened .bar1 { transform: translate(0, 9px) rotate(-45deg); }
.opened .bar2 { opacity: 0; }
.opened .bar3 { transform: translate(0, -9px) rotate(45deg); }
/* Nav menu/links (mobile) */
nav {
    display: none; /* Hidden by default on mobile */
    background-color: var(--nav-background-color);
    border-bottom: solid 5px var(--secondary1-color);
    width: calc(max(vw, 600px));
}
nav.shown {
    display: block;
}
#menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
#menu-list li {
    font-family: var(--heading-font);
    font-weight: bold;
    padding: 0.75em 2em;
    border-top: solid 3px var(--secondary1-color);
}


/* ---------------------------------------------------------- */
/* -- Misc                                                 -- */
/* ---------------------------------------------------------- */
.section-heading {
    margin: 30px 0 15px;
    text-decoration: underline;
    font-size: 1.75em;
}
hr {
    border: none;
    background-color: var(--secondary2-color);
    color: var(--secondary2-color);
    width: 90%;
    height: 2px;
    margin: 20px auto;
}


/* ---------------------------------------------------------- */
/* -- Character gallery/cards                              -- */
/* ---------------------------------------------------------- */
/* Gallery conatiner */
.character-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
/* Character cards */
.character-card {
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 15px;
}
.character-img {
    border: solid 2px var(--primary1-color);
    border-radius: 50%;
}
.character-name {
    font-size: 1.4em;
    margin: 0.2em;
}
.character-snippet {
    text-align: center;
}


/* ---------------------------------------------------------- */
/* -- Lucy & Nemah handwriting                             -- */
/* ---------------------------------------------------------- */
p.lucy-text, p.nemah-text {
    display: inline;
}
/* stylized */
p.lucy-text.stylized {
    font-family: var(--lucy-font);
}
p.nemah-text.stylized {
    font-family: var(--nemah-font);
    color: #5f163b;
}
/* simple */
p.lucy-text.simple {
    font-family: var(--paragraph-font);
}
p.nemah-text.simple {
    font-family: var(--paragraph-font);
    font-style: italic;
}


/* ---------------------------------------------------------- */
/* -- Footer content                                       -- */
/* ---------------------------------------------------------- */
footer {
    background-color: var(--offwhite);
}
.attribution {
    text-align: center;
}
.attribution a {
    color: var(--secondary1-color);
    text-decoration: underline;
}



/* ---------------------------------------------------------- */
/* -- DESKTOP VIEW                                         -- */
/* ---------------------------------------------------------- */
@media screen and (min-width: 600px) {
    #menu-btn {
        display: none;
    }
    nav {
        display: block;
    }
    #menu-list {
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        transition: background-color 0.7s;
    }
    #menu-list li:hover {
        text-decoration: underline;
        background-color: var(--nav-hover-background-color);
    }
    main {
        padding: 0 10%;
    }
}